body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
em,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    // font-weight: normal;
    // font-family: PingFangSC-Light, helvetica, "Heiti SC";
    box-sizing: border-box;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    &:hover {
        outline: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 750px;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    padding: 0 80px;
    background-color: #F9F9F9;
}

.customWidth {
    width: 20%;
    .el-form-item__label {
        width: 90px !important;
    }
    .el-form-item__content {
        margin-left: 80px !important;
    }
    input {
        width: 80%;
    }
}

.content-container {
    // padding: 0 !important;
    background: #F9F9F9;;
}

.content {
    width: auto;
    height: 100%;
    .top_title{
        margin: 48px 0 55px;
        text-align: left;
        font-size: 18px;
        color: #333;
        .wrapperStyle{
            display: inline;
            margin-left: 54px;
            .itemStyle {
                font-weight: 500;
                display: inline;
                font-size: 16px;
                color: #666;
                margin-right: 48px;
                cursor: pointer;
            }
            .isSelected{
                color: #644CF7;
                border-bottom: 2px solid  #644CF7;
            }
        }
    }
    .content-main{
        background: #fff;
        width: 100%;
        height: 100%;
        border-radius: 32px;
        padding: 64px 72px;
        .seach {
            width: 100%;
            margin: 0px 0 30px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            .input-with-select {
                width: 230px;
                float: left;
            }
            .seach_top_right {
                float: left;
                height: 40px;
                line-height: 40px;
                margin-left: 10px;
            }
            .el-button{
                height: 40px;
            }
            .el-input {
                margin-bottom: 20px;
            }
            .el-select {
                height: 40px;
                margin-bottom: 20px;
            }
        }
        .device_table {
            .operating{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 20px;
            }
        }
    }
    
}
.device_form {
    background: #fff;
    margin: 48px 0;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 64px 72px;
}

//登录框样式
.log_input .el-input {
    width: 80%;
}

.log_input .el-form-item__content {
    display: flex;
}

.login-form-input .el-input__inner {
    border: 0 none;
    border-radius: 0px;
}

.ipfs_item_img>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.domain_dialog .customWidth {
    width: 35%;
}

.domain_dialog .customWidth .el-form-item__content {
    margin-left: 90px !important;
}

.domain_dialog .customWidth .el-form-item__content .el-input {
    width: 80%;
}

.domain_dialog .customWidth .el-form-item__label {
    width: 100px !important;
    overflow: hidden;
}

.yama .el-form-item__label {
    width: 120px;
}

.yama .el-input {
    width: 77%;
}

.yama .el-form-item__error {
    left: 23%;
}

//筛选按钮旋转
.aa {
    transition: all 1s;
}

.go {
    transform: rotate(-180deg);
    transition: all 1s;
}

//筛选按钮背景色
.seach_top_right {
    float: left;
    width: 80px;
    text-align: center;
    height: 36px;
    margin-top: 10px;
    line-height: 36px;
    margin-left: 10px;
    color: #666666;
}

.setwhile {
    background: #ffffff;
    margin-top: 0px;
    border: 1px solid #dcdfe6;
}

.setwhiles {
    background: #ffffff;
    margin-top: 10px;
    border: 1px solid #dcdfe6;
}

.sethui {
    background: #f2f6fa;
    border: none;
    height: 50px !important;
}

//忘记密码
.forget_from .el-form-item .el-form-item__content {
    margin-left: 0 !important;
}

//注册
.registered_from .el-form-item .el-form-item__content {
    margin-left: 0 !important;
}

//手机号登录
.phone_log .el-form-item .el-form-item__content {
    margin-left: 0 !important;
}

.el-dialog {
    padding-right: 40px;
}

.yure_content .el-tabs__header {
    padding-left: 45px;
    margin-top: -4px;
    background: #ffffff;
    font-size: 20px;
}

.yure_content .el-tabs .el-tabs__content {
    margin: auto;
    // height: 590px;
    background: #ffffff;
    margin-left: 45px;
    margin-right: 45px;
    padding: 29px 45px;
    margin-top: 38px;
    box-shadow: 0px 3px 7px 0px rgba(51, 97, 146, 0.07);
}

.statisics_con .el-tabs__header {
    padding-left: 45px;
    margin-top: -10px;
    background: #ffffff;
    font-size: 20px;
}

.statisics_con .el-tabs .el-tabs__content {
    margin: auto;
}

.resources_con .el-tabs .el-tabs__content {
    margin: auto;
}

.resources_con .el-tabs__header {
    padding-left: 45px;
    margin-top: -10px;
    background: #ffffff;
    font-size: 20px;
}

.termail_con .el-tabs .el-tabs__content {
    margin: auto;
}

.termail_con .el-tabs__header {
    padding-left: 45px;
    margin-top: -10px;
    background: #ffffff;
    font-size: 20px;
}

.termail_con .el-dialog {
    width: 23%;
}

.acceleerate_con .el-dialog {
    width: 30%;
    height: 300px;
}

.acceleerate_con .con_lable .el-button {
    padding: 0;
}

.domin_index .el-table .el-button {
    padding: 0;
}

.acceleerate_con .con_lable .con_lable_top_btn .el-button,
.acceleerate_con .con_lable .add_dialog .el-button {
    padding: 10px 30px;
}

.batch_huan .el-dialog {
    width: 23%;
}

.copy_active2 .el-dialog {
    width: 50%;
}

.bath .el-tabs {
    height: 697px;
}

.bath .is-left {
    width: 180px;
    height: 50px;
    text-align: center !important;
    font-size: 16px;
    line-height: 50px;
}

#tab-zero {
    margin-bottom: 15px;
}

.customize .el-dialog {
    width: 25%;
}

.el-menu {
    width: 100%;
    height: 100%;
    text-align: left;
    background: #644CF7;
}
.el-submenu__title{
    outline: 0;
    background-color: #644CF7;
    text-align: left;
}
.el-menu-item{
    text-align: left;
}

.el-submenu__title i {
    color: #fff;
}
.el-submenu__title:focus, .el-submenu__title:hover {
    outline: 0;
    background-color: #5035F6;
}
.el-menu.is-active, .el-menu--inline.is-active {
    border: none;
    outline: none;
}
.el-submenu:hover,.el-submenu:focus {
    border: none;
    outline: none;
}
.el-submenu .el-menu-item{
    background: rgba(100, 76, 247, 1);
}
.el-submenu .el-menu-item:hover {
    background: #5035F6;
}
.el-submenu .el-menu-item.is-active {
    color: #fff;
    background: #5035F6 !important;
}
.el-menu-item:focus, .el-menu-item:hover {
    outline: 0;
    background-color: #5035F6;
}

.el-input__inner {
    border-radius: 28px;
    background: #F9F9F9;
    border-color: #EEEEEE;
    outline: none;
}

.el-input__inner:focus {
    border-radius: 28px;
    background: #F9F9F9;
    border-color: #EEEEEE;
    outline: none;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #F9F9F9;
}

.el-select .el-input__inner:focus {
    border-color: #F9F9F9;
}

.el-range-input {
    background: #F9F9F9;
}

.el-button--default {
    color: #333333;
    background-color: #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button--default:focus, .el-button--default:hover {
    color: #333333;
    background:  #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button.is-plain {
    color: #333333;
    background-color: #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button.is-plain:focus, .el-button.is-plain:hover {
    color: #333333;
    background:  #F9F9F9;
    border-color: #DDDDDD;
    border-radius: 28px;
    outline: none;
}

.el-button--text:focus, .el-button--text:hover {
    color: #644CF7;
    border-color: transparent;
    background-color: transparent;
}

.el-button--primary:focus, .el-button--primary:hover {
    color: #FFF;
    background: #644CF7;
    border-color: #644CF7;
    border-radius: 28px;
    outline: none;
}

.el-button--primary {
    color: #FFF;
    background-color: #644CF7;
    border-color: #644CF7;
    border-radius: 28px;
    outline: none;
}

.el-button--text {
    color: #644CF7;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
}

.el-tabs__header {
    margin: 0 0 30px;
}

.el-tabs__item.is-active {
    color: #644CF7;
}

.el-tabs__item:hover {
    color: #644CF7;
    cursor: pointer;
}

.el-tabs__active-bar {
    background-color: #644CF7;
}

.el-radio__input.is-checked+.el-radio__label {
    color: #644CF7;
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #644CF7;
    background: #644CF7;
}

.el-table {
    color: #333;
    font-size: 14px;
    border-radius: 12px;
}

.el-table__header tr,
.el-table__header th {
    padding: 0;
    height: 48px;
}

.el-table__body tr,
.el-table__body td {
    padding: 0;
    height: 48px;
}

.el-dialog {
    padding-right: 0;
    border-radius: 12px;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}

.el-dialog__header{
    background: #644CF7;
    color: #fff;
    border-radius: 12px 12px 0 0;
}

.el-dialog__header span{
    color: #fff;
}

.el-dialog__body {
    padding: 30px 40px;
}

.add_url .el-input {
    width: 300px;
}

.add_url .el-form-item {
    text-align: left;
}

.add_url .el-input__inner {
    height: 36px;
}

.add_url .other_bgc .el-input__inner {
    background-color: #f3f6fb;
    // border: none;
}

.lot_operating .lot_maintag {
    width: 180px;
}

.lot_operating .lot_subtag .el-input__inner {
    width: 130px;
    text-align: center;
}

.el-steps--simple {
    background: none;
    margin-bottom: 37px;
}

.el-tabs__content {
    overflow: initial;
}

.bath_m .el-tabs__content {
    overflow: hidden !important;
}

.bath_m .bath_demo_dynamic .el-form-item__content {
    display: flex;
}

.bath_m .bath_demo_dynamic .el-form-item__content .el-select {
    margin: 0 5px;
}

.bath_m .bath_demo_dynamic .el-form-item__content .el-input {
    margin: 0 5px;
}

.bath_m .bath_demo_dynamic .el-form-item__content .el-button {
    margin-left: 10px;
}

//下载excel模板
.simple #dwonexcel {
    position: absolute;
    top: 17px;
    left: 205px;
    width: 85px;
    height: 36px;
    line-height: 12px;
    padding: 1px;
    text-align: center;
    border: 1px solid rgba(41, 122, 255, 1);
    border-radius: 2px;
}

.con .el-upload-list__item {
    height: 45px;
    line-height: 45px;
    background-color: #ffebcd45;
}

.con .el-upload-list__item:first-child {
    margin-top: 0;
}

.con .el-upload-list__item .el-icon-close {
    top: 12.5px;
    font-size: 22px;
}

.simple ul {
    border-radius: 2px;
    margin-top: 18px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.el-input-group__append {
    background-color: #297aff;
    color: #297aff;
    border: 1px solid #297aff;
}

.setpwd .el-dialog__body {
    padding-left: 40px;
}

.setpwd .el-input {
    width: 85%;
}

.setpwd .el-form-item {
    text-align: right;
}

.setpwd .el-form-item__error {
    padding-left: 80px;
}

.huancuntime .el-date-editor.el-input {
    width: 70% !important;
}

.huancunoption .el-cascader {
    width: 70%;
}

.huandan .el-radio-button__inner {
    width: 111px;
}

.domin_index .firsturl .cell {
    // max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.accelerate_ma .firsturl .cell {
    // width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.acceleerate_con .el-dialog__footer {
    text-align: center;
}

.lot_operating .cell {
    // max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.copy_configuration .cell {
    // max-width: 1100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pei_zhi_tabel .el-table_2_column_8 .cell {
    // max-width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.el-input__inner {
    height: 40px;
    line-height: 40px;
}

.el-button {
    padding: 10px 30px;
    border-radius: 28px;
}

.domin_index .el-button {
    padding: 10px 10px;
}

.pei_ting {
    width: 59px;
    padding: 0;
    margin: 0;
}

.registered .el-dialog__footer {
    text-align: center;
}

.registered .el-dialog {
    margin-top: 10vh !important;
}

.forget_pwd .el-button,
.registered .el-button,
.phone_log .el-button,
.information .el-dialog__body .el-button {
    padding: 0 !important;
}

.simple .el-table .cell {
    white-space: pre-line;
}

.show_key_btn {
    padding: 10px 5px;
}

.add_url .el-form-item__label {
    text-align: left;
}

.el-badge__content.is-dot {
    width: 10px;
    height: 11px;
    border: radius 50%;
    margin-left: 2px;
}

.el-badge__content.is-fixed.is-dot {
    right: 0;
}